%h1
  Welcome to Nebula
  = @name

%ul.menu
  %li
    %a{href: '/identity'} Identity
  %li
    %a{href: '/conversations'} Conversations
  %li
    %a{href: '/chat.html'} Messages
  %li
    %a{href: '/contacts'} Contacts
  %li
    %a{href: '/calendar'} Calendar
  %li
    %a{href: '/tasks'} Tasks
